.circle-done {
  border-radius: 50%;
  background-color: #902c6c;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 28px;
  font: bold;
  font-weight: 500;
}

.circle-pending {
  border-radius: 50%;
  background-color: #979797;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 28px;
  font: bold;
  font-weight: 500;
}

.circle-hr {
  height: 2px;
  width: 96px;
  background-color: #902c6c;
  opacity: 0.6;
}

.h2 {
  @apply font-bold text-[16px] text-black mt-3;
}

.input {
  @apply w-[486px] h-12 border-black;
}

.input label {
  @apply font-bold text-[16px];
}

.select {
  @apply w-[238px] h-10;
}

.select label {
  @apply font-bold text-[16px];
}

/* CSS when button is clicked */
.btn-clicked {
  @apply fill-red-500 text-red-500;
}

.selectDiv {
  padding-left: 8px; /* Reserve space for the border to avoid shifting */
}

.selectDiv:hover {
  box-shadow: -4px 0 0 0 #1b7cd5; /* Simulates a left border without affecting layout */
}

.optionsContainer {
  display: flex;
  justify-content: center;
}

.option {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 130px;
}

.option.selected {
  background-color: #007bff;
  color: white;
}

.option:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.option:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Styles for the input field to make it look like a typical search bar */
.searchInput {
  width: 100%;
  height: 30px;
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
}

.searchInput:focus {
  border-color: #0070f3; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
}

/* Styles for the dropdown suggestions list */
.suggestionsDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 200px; /* Limit the height and make it scrollable if needed */
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for individual suggestion items */
.suggestionItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestionItem:hover {
  background-color: #f0f0f0; /* Background color when hovering over an item */
}
