@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fffaf5;
    --foreground: #171717;
    --text: #000857;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}