@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #fffaf5;
    /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Scrollbar thumb color */
    border-radius: 6px;
    /* Rounded corners */
    border: 3px solid #fffaf5;
    /* Space around thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
    /* Thumb color on hover */
}

/* Firefox scrollbar styles */
* {
    scrollbar-width: thin;
    scrollbar-color: #934677 #fffaf5;
}

/* hide arrow of input type number */
.no-spinner input[type='number']::-webkit-outer-spin-button,
.no-spinner input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:root {
    --background: #fffaf5;
    --foreground: #171717;
    --text: #000857;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}