.heading1 {
    @apply text-text font-bold;
}

.pet {
    border-width: 1px;
    border-radius: 4px;
}

.petWrap {
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    height: 254px;
    background-size: cover;

}

.petWrap .petInfoWrap {
    padding: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #e6e8eb;
}

.petInfoWrap {
    position: absolute;
    /* top: 0; */
    height: 186px;
    background-image: linear-gradient(to bottom, transparent, transparent 30%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.9));
}

.petInfo {
    position: absolute;
    bottom: 0;
    /* top: 0; */
    left: 0;
    padding: 20px;
    color: #e6e8eb;
}